//HEADER 

.hero-image {
    display: none;

    @media only screen and (max-width: $small) {
        display: block;
        background: none;

        img {
            width: 100%;
        }
    }
}

.header {
    display: flex;
    background: url('../images/desktop/image-hero.jpg') right top no-repeat;
    height: calc(100vh - 15rem);
    background-size: contain;

    @media only screen and (max-width: $small) { 
        background: none;
    }

    &__container{
        display: flex;
        padding-top: 5rem;

        .header__content {
            flex: 0 0 50%;
            @media only screen and (max-width: $large) { 
                flex: 0 0 70%;
            }
            @media only screen and (max-width: $small) { 
                flex: 0 0 100%;
            }
        }
    }

}

.button {
    cursor: pointer;
    padding: 16px 30px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 2rem;

    &-primary {
        color: $white;
        background-color: $red;

        &:hover {
            background-color: $red-hover;
        }
    }

    &-secondary {
        background-color: $background-black;
        color: $white;

        &:hover {
            background-color: $black-hover;
        }
    }

    &-tertiary {
        background-color: transparent;
        color: $red;
        padding: 0;
        border-bottom: solid 1px $red;
        padding-bottom: 5px;

        &:hover {
            color: $red-hover;
            border-bottom: solid 1px $red-hover;
        }
    }
}

.strategic {

    display: flex;
    background-color: $background-black;

    @media only screen and (max-width: $medium) {
        flex-direction: column;
    }
    
    img {
        flex: 0 0 52%;

        @media only screen and (max-width: $large) {
            flex: 0 0 35%;
        }
    }

    &__content {
        color: $white;
        margin: 7rem 0;
        position: relative;

        div {
            width: 60%;
            margin: 0 auto;

            img {
                position: absolute;
                left: -6.2rem;
            }
        }
    }
}

.our_approach {
    display: flex;
    justify-content: flex-end;
    height: 70rem;
    position: relative;

    @media only screen and (max-width: $medium) { 
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        background-color: $red;
    }

    &__header {
        display: flex;
        justify-content: center;

        h2 {
            position: absolute;
            width: 30%;
            left: 35rem;
            top: 10rem;
            color: $text-black;

            @media only screen and (max-width: $large) {
                left: 0;
                position: relative;
                width: 100%;
                top: 0;
                
                color: $white;
            }
        }
    }

    

    &__content {
        flex: 0 0 65%;
        background-color: $red;
        color: $white;
        margin-top: -20rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media only screen and (max-width: $medium) {
            // display: ;
            margin-top: 0rem;
        }
    }

    &__container {
        flex: 0 0 52%;
        padding-right: 16rem;
        margin: 7rem 0;

        @media only screen and (max-width: $large) { 
            flex: 0 0 80%;
        }

        h3 {
            position: relative;
            margin: 2.5rem 0;
            span {
                position: absolute;
                left: -42px;
                font-size: 6rem;
               
                bottom: -18px;
                opacity: 0.4;
            }
        }

        p {
            margin-bottom: 6rem;
        }
    }
}

.footer {
    height: 25rem;
    display: flex;
    align-items: center;
    position: relative;


    &__icon {
        position: absolute;
        top: 10rem;
        left: -6rem;

        @media only screen and (max-width: $medium) {
            display: none;
        }

    }
    &__container {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $medium) {
            flex-direction: column;
            align-items: flex-start;
        }

        h2 {
            flex: 0 0 50%;

            @media only screen and (max-width: $large) {
                flex: 1;
                padding-bottom: 2rem;
            }
        }
    
        button {
            display: block;
        }

        @media only screen and (max-width: $large) {
            width: 90%;
        }
    }

    &__btn-container {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: $large) {
            flex: 0 0 30%
        }
    }
    
}

.services {

    position: relative;
    height: 73rem;

    div[data-slide="2"] {
        z-index: 3;
    }

    @media only screen and (max-width: $small) {
        height: 125rem;
    }

    &__slideshow {
        display: flex;
        min-height: 50rem;
        flex-direction: row-reverse;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media only screen and (max-width: $small) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        background-color: $background-black;
        position: absolute;
        left: 0;    
        width: 64%;
        min-height: 50rem;
        padding: 10rem;
        z-index: 2;

        @media only screen and (max-width: $small) {
            position: initial;
            width: 100%;
            // padding;
        }
        h2 {
            color: white;
            margin-bottom: 5rem;
        }

        .services__arrows {
            position: relative;

            svg {
                margin-right: 2rem;
                cursor: pointer;

                &:hover {
                    transform: translateX(1px);

                    g {
                        stroke: $red-hover;
                    }
                }
            }
        }

        
    }

    &__img-container {
        overflow-x: hidden;
        position: relative;

        &::after {content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            display:inline-block;
            background: linear-gradient(0deg, rgba(3,3,3,0.7469362745098039) 17%, rgba(53,53,53,0.40800070028011204) 37%, rgba(252,252,252,0) 100%);
        }

        figcaption {
            position: absolute;
            right: 100px;
            bottom: 75px;
            color: $white;
            text-align: right;
            z-index: 10;

            .title {
                font-weight: 800;
            }
        }
    }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }