//HEADER 
.header {
    display: flex;
    background: url('../images/desktop/image-hero.jpg') right top no-repeat;
    height: calc(100vh - 15rem);
    background-size: contain;
    // background-repeat: no-repeat;
    &__container{
        display: flex;
        padding-top: 10rem;

        .header__content {
            flex: 0 0 50%;
        }
    }
}

.button {
    cursor: pointer;
    padding: 16px 30px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 2rem;
    &-primary {
        color: $white;
        background-color: $red;
    }

    &-secondary {
        background-color: $background-black;
        color: $white;
    }

    &-tertiary {
        
    }
}

.strategic {
    display: flex;
    background-color: $background-black;
    
    img {
        flex: 0 0 52%;

        @media only screen and (max-width: 1250px) {
            flex: 0 0 35%;
        }
    }
    &__content {
        color: $white;
        padding-top: 15rem;
        position: relative;

        div {
            width: 60%;
            margin: 0 auto;

            img {
                position: absolute;
                left: -6.2rem;
            }
        }
    }
}

.our_approach {
    display: flex;
    justify-content: flex-end;
    height: 70rem;
    position: relative;

    h2 {
        position: absolute;
        width: 30%;
        left: 35rem;
        top: 10rem;

        @media only screen and (max-width: 1250px) {
            left: 25rem;
        }
    }
    &__content {
        flex: 0 0 65%;
        background-color: $red;
        color: $white;
        margin-top: -20rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__container {
        flex: 0 0 52%;
        padding-right: 16rem;

        h3 {
            position: relative;
            margin: 2.5rem 0;
            span {
                position: absolute;
                left: -42px;
                font-size: 6rem;
               
                bottom: -18px;
                opacity: 0.4;
            }
        }

        p {
            margin-bottom: 6rem;
        }
    }
}

.footer {
    height: 25rem;
    display: flex;
    align-items: center;
    position: relative;


    &__icon {
        position: absolute;
        top: 10rem;
        left: -6rem;
    }
    &__container {
        display: flex;
        align-items: center;

        h2 {
            flex: 0 0 50%;

            @media only screen and (max-width: 1250px) {
                flex: 1
            }
        }
    
        button {
            display: block;
        }

        @media only screen and (max-width: 1250px) {
            width: 90%;
        }
    }

    &__btn-container {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 1250px) {
            flex: 0 0 30%
        }
    }
    
}