nav {
    height: 15rem;
    display: flex;
    // position: relative;

    @media only screen and (max-width: $medium) { 
        align-items: center;
        justify-content: space-between;
    }

    .menu-icon-container {
        display: none;
        cursor: pointer;

        @media only screen and (max-width: $medium) { 
            display: flex;
            flex: 1;
            justify-content: flex-start;
        }

        .flex-container {
            flex: 0 0 90%;
            display: flex;
            justify-content: flex-end;
        }
    }

    .navigation__logo {
        flex: 0 0 50%;
        justify-content: flex-end;
        display: flex;
        align-items: center;

        .navigation__img-container {
            flex: 0 0 80%;

            @media only screen and (max-width: $xlarge) { 
                flex: 0 0 90%;
            }
        }
    }

    .navigation__links {
        
        flex: 0 0 50%;
        display: flex;
        position: relative;
        background-color: $red;

        &-mobile {
            display: none;
            position: absolute;
            right: 4rem;
            top: 15rem;
            background-color: $red;

            ul {

                list-style: none;

                li {
                    padding: 2rem 4rem;
                    text-align: center;
                    color: $white;

                    &:hover {
                        background-color: $red-hover;
                        cursor: pointer;
                    }
                }
            }

            button {
                margin: 2rem 4rem;
                

            }
        }

        @media only screen and (max-width: $medium) { 
            // margin-top: 48rem;
            // position: absolute;
            // top: 15rem;
            // right: 4rem;
            display: none;
        }
        
        &-container {
            flex: 0 0 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: $xlarge) { 
                flex: 0 0 90%;
            }

            // @media only screen and (max-width: $medium) { 
            //     flex-direction: column;
            //     flex: 1;
            // }
            
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                flex: 0 0 40%;
                margin-left: 10rem;
                color: $white;

                @media only screen and (max-width: $xlarge) { 
                    // flex-direction: column;
                    margin: 0 4rem;
                    flex: 1;
                }

                @media only screen and (max-width: $large) { 
                    margin: 0 2rem;
                }

                // @media only screen and (max-width: $medium) { 
                //     flex-direction: column;
                //     margin: 0;
                //     align-self: stretch;
                //     text-align: center;
                // }

                li {
                    cursor: pointer;
                    
                    // @media only screen and (max-width: $medium) { 
                    //     padding-bottom: 2rem;
                    //     padding-top: 2rem;
                         
                    //     &:hover {
                    //         background-color: $red-hover;
                            
                    //     }
                    // }
                }
            }

            // @media only screen and (max-width: $medium) { 
            //     .button-secondary {
            //         margin: 2rem;
            //     }
            // }
        }
        
    }    
}


 