@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;800&display=swap');

$red: #F94F4F;
$red-hover: #FF9393;
$white: #FFFFFF;
$background-black: #191921;
$black-hover: #434356;
$text-black: #000000;

$commissioner-font: 'Commissioner', sans-serif;