@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');

$red: #F94F4F;
$white: #FFFFFF;
$background-black: #191921;
$text-black: #000000;

$commissioner-font: 'Commissioner', sans-serif;