@import 'variables';
@import 'base';
@import 'utilities';
@import 'components';

@import 'navigation';

body {
    font-family: $commissioner-font;
    font-size: 1.8rem;
    font-weight: 300;
}

h1 {
    font-size: 8.8rem;
    line-height: 1.2;
    @media only screen and (max-width: $medium) { 
        font-size: 6.4rem;
    }
}

h2 {
    font-size: 6.4rem;

    @media only screen and (max-width: $large) { 
        font-size: 4.8rem;
        padding-bottom: 2rem;
    }
}

h3 {
    font-size: 2rem;
}

p {
    line-height: 2;

    @media only screen and (max-width: 750px) { 
        line-height: 1.5;
    }
}

