@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.red {
  color: #F94F4F; }

.mt-20 {
  margin-top: 2rem; }

.mb-20 {
  margin-bottom: 2rem; }

.container {
  width: 80%;
  margin: 0 auto; }

.header {
  display: flex;
  background: url("../images/desktop/image-hero.jpg") right top no-repeat;
  height: calc(100vh - 15rem);
  background-size: contain; }
  .header__container {
    display: flex;
    padding-top: 10rem; }
    .header__container .header__content {
      flex: 0 0 50%; }

.button {
  cursor: pointer;
  padding: 16px 30px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem; }
  .button-primary {
    color: #FFFFFF;
    background-color: #F94F4F; }
  .button-secondary {
    background-color: #191921;
    color: #FFFFFF; }

.strategic {
  display: flex;
  background-color: #191921; }
  .strategic img {
    flex: 0 0 52%; }
  .strategic__content {
    color: #FFFFFF;
    padding-top: 15rem;
    position: relative; }
    .strategic__content div {
      width: 60%;
      margin: 0 auto; }
      .strategic__content div img {
        position: absolute;
        left: -6.2rem; }

.our_approach {
  display: flex;
  justify-content: flex-end;
  height: 70rem;
  position: relative; }
  .our_approach h2 {
    position: absolute;
    width: 30%;
    left: 35rem;
    top: 10rem; }
  .our_approach__content {
    flex: 0 0 65%;
    background-color: #F94F4F;
    color: #FFFFFF;
    margin-top: -20rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .our_approach__container {
    flex: 0 0 52%;
    padding-right: 16rem; }
    .our_approach__container h3 {
      position: relative;
      margin: 2.5rem 0; }
      .our_approach__container h3 span {
        position: absolute;
        left: -42px;
        font-size: 6rem;
        bottom: -18px;
        opacity: 0.4; }
    .our_approach__container p {
      margin-bottom: 6rem; }

.footer {
  height: 25rem;
  display: flex;
  align-items: center;
  position: relative; }
  .footer__icon {
    position: absolute;
    top: 10rem;
    left: -6rem; }
  .footer__container {
    display: flex;
    align-items: center; }
    .footer__container h2 {
      flex: 0 0 50%; }
    .footer__container button {
      display: block; }
  .footer__btn-container {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end; }

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.8rem;
  font-weight: 300; }

h1 {
  font-size: 8.8rem;
  line-height: 1.2; }

h2 {
  font-size: 6.4rem; }

h3 {
  font-size: 2rem; }

p {
  line-height: 2; }

nav {
  height: 15rem;
  display: flex; }
  nav .navigation__logo {
    flex: 0 0 50%;
    justify-content: center;
    display: flex;
    align-items: center; }
    nav .navigation__logo .navigation__img-container {
      flex: 0 0 80%; }
      nav .navigation__logo .navigation__img-container img {
        margin-left: 10rem; }
  nav .navigation__links {
    background-color: #F94F4F;
    flex: 0 0 50%;
    display: flex; }
    nav .navigation__links-container {
      flex: 0 0 80%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      nav .navigation__links-container ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex: 0 0 35%;
        margin-left: 10rem;
        color: #FFFFFF; }
