@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.red {
  color: #F94F4F; }

.mt-20 {
  margin-top: 2rem; }

.mb-20 {
  margin-bottom: 2rem; }

.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 1500px) {
    .container {
      flex: 0 0 90%; } }

.hero-image {
  display: none; }
  @media only screen and (max-width: 750px) {
    .hero-image {
      display: block;
      background: none; }
      .hero-image img {
        width: 100%; } }

.header {
  display: flex;
  background: url("../images/desktop/image-hero.jpg") right top no-repeat;
  height: calc(100vh - 15rem);
  background-size: contain; }
  @media only screen and (max-width: 750px) {
    .header {
      background: none; } }
  .header__container {
    display: flex;
    padding-top: 5rem; }
    .header__container .header__content {
      flex: 0 0 50%; }
      @media only screen and (max-width: 750px) {
        .header__container .header__content {
          flex: 0 0 100%; } }

.button {
  cursor: pointer;
  padding: 16px 30px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem; }
  .button-primary {
    color: #FFFFFF;
    background-color: #F94F4F; }
    .button-primary:hover {
      background-color: #FF9393; }
  .button-secondary {
    background-color: #191921;
    color: #FFFFFF; }
    .button-secondary:hover {
      background-color: #434356; }
  .button-tertiary {
    background-color: transparent;
    color: #F94F4F;
    padding: 0;
    border-bottom: solid 1px #F94F4F;
    padding-bottom: 5px; }
    .button-tertiary:hover {
      color: #FF9393;
      border-bottom: solid 1px #FF9393; }

.strategic {
  display: flex;
  background-color: #191921; }
  @media only screen and (max-width: 1000px) {
    .strategic {
      flex-direction: column; } }
  .strategic img {
    flex: 0 0 52%; }
    @media only screen and (max-width: 1250px) {
      .strategic img {
        flex: 0 0 35%; } }
  .strategic__content {
    color: #FFFFFF;
    margin: 7rem 0;
    position: relative; }
    .strategic__content div {
      width: 60%;
      margin: 0 auto; }
      .strategic__content div img {
        position: absolute;
        left: -6.2rem; }

.our_approach {
  display: flex;
  justify-content: flex-end;
  height: 70rem;
  position: relative; }
  @media only screen and (max-width: 1000px) {
    .our_approach {
      justify-content: center;
      flex-direction: column;
      height: fit-content;
      background-color: #F94F4F; } }
  .our_approach__header {
    display: flex;
    justify-content: center; }
    .our_approach__header h2 {
      position: absolute;
      width: 30%;
      left: 35rem;
      top: 10rem;
      color: #000000; }
      @media only screen and (max-width: 1250px) {
        .our_approach__header h2 {
          left: 0;
          position: relative;
          width: 100%;
          top: 0;
          color: #FFFFFF; } }
  .our_approach__content {
    flex: 0 0 65%;
    background-color: #F94F4F;
    color: #FFFFFF;
    margin-top: -20rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media only screen and (max-width: 1000px) {
      .our_approach__content {
        margin-top: 0rem; } }
  .our_approach__container {
    flex: 0 0 52%;
    padding-right: 16rem; }
    @media only screen and (max-width: 1250px) {
      .our_approach__container {
        flex: 0 0 80%; } }
    .our_approach__container h3 {
      position: relative;
      margin: 2.5rem 0; }
      .our_approach__container h3 span {
        position: absolute;
        left: -42px;
        font-size: 6rem;
        bottom: -18px;
        opacity: 0.4; }
    .our_approach__container p {
      margin-bottom: 6rem; }

.footer {
  height: 25rem;
  display: flex;
  align-items: center;
  position: relative; }
  .footer__icon {
    position: absolute;
    top: 10rem;
    left: -6rem; }
    @media only screen and (max-width: 1000px) {
      .footer__icon {
        display: none; } }
  .footer__container {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 1000px) {
      .footer__container {
        flex-direction: column;
        align-items: flex-start; } }
    .footer__container h2 {
      flex: 0 0 50%; }
      @media only screen and (max-width: 1250px) {
        .footer__container h2 {
          flex: 1;
          padding-bottom: 2rem; } }
    .footer__container button {
      display: block; }
    @media only screen and (max-width: 1250px) {
      .footer__container {
        width: 90%; } }
  .footer__btn-container {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 1250px) {
      .footer__btn-container {
        flex: 0 0 30%; } }

.services__slideshow {
  display: flex;
  min-height: 50rem;
  flex-direction: row-reverse; }

.services__text {
  background-color: #191921;
  position: absolute;
  left: 0;
  width: 64%;
  min-height: 50rem;
  padding: 10rem;
  z-index: 2; }
  .services__text h2 {
    color: white;
    margin-bottom: 5rem; }
  .services__text .services__arrows {
    position: relative; }
    .services__text .services__arrows svg {
      margin-right: 2rem;
      cursor: pointer; }
      .services__text .services__arrows svg:hover {
        transform: translateX(1px); }
        .services__text .services__arrows svg:hover g {
          stroke: #FF9393; }

.services__img-container {
  position: relative; }
  .services__img-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(0deg, rgba(3, 3, 3, 0.746936) 17%, rgba(53, 53, 53, 0.408001) 37%, rgba(252, 252, 252, 0) 100%); }
  .services__img-container figcaption {
    position: absolute;
    right: 100px;
    bottom: 75px;
    color: #FFFFFF;
    text-align: right;
    z-index: 10; }
    .services__img-container figcaption .title {
      font-weight: 800; }

nav {
  height: 15rem;
  display: flex; }
  @media only screen and (max-width: 1000px) {
    nav {
      align-items: center;
      justify-content: space-between; } }
  nav .hamburger-icon-container {
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 1000px) {
      nav .hamburger-icon-container {
        display: flex;
        flex: 1;
        justify-content: flex-start; } }
    nav .hamburger-icon-container .flex-container {
      flex: 0 0 90%;
      display: flex;
      justify-content: flex-end; }
  nav .navigation__logo {
    flex: 0 0 50%;
    justify-content: flex-end;
    display: flex;
    align-items: center; }
    nav .navigation__logo .navigation__img-container {
      flex: 0 0 80%; }
      @media only screen and (max-width: 1500px) {
        nav .navigation__logo .navigation__img-container {
          flex: 0 0 90%; } }
  nav .navigation__links {
    background-color: #F94F4F;
    flex: 0 0 50%;
    display: flex; }
    @media only screen and (max-width: 1000px) {
      nav .navigation__links {
        position: absolute;
        top: 15rem;
        right: 4rem; } }
    nav .navigation__links-container {
      flex: 0 0 80%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media only screen and (max-width: 1500px) {
        nav .navigation__links-container {
          flex: 0 0 90%; } }
      @media only screen and (max-width: 1000px) {
        nav .navigation__links-container {
          flex-direction: column;
          flex: 1; } }
      nav .navigation__links-container ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex: 0 0 40%;
        margin-left: 10rem;
        color: #FFFFFF; }
        @media only screen and (max-width: 1500px) {
          nav .navigation__links-container ul {
            margin: 0 4rem;
            flex: 1; } }
        @media only screen and (max-width: 1250px) {
          nav .navigation__links-container ul {
            margin: 0 2rem; } }
        @media only screen and (max-width: 1000px) {
          nav .navigation__links-container ul {
            flex-direction: column;
            margin: 0;
            align-self: stretch;
            text-align: center; } }
        nav .navigation__links-container ul li {
          cursor: pointer; }
          @media only screen and (max-width: 1000px) {
            nav .navigation__links-container ul li {
              padding-bottom: 2rem;
              padding-top: 2rem; }
              nav .navigation__links-container ul li:hover {
                background-color: #FF9393; } }
      @media only screen and (max-width: 1000px) {
        nav .navigation__links-container .button-secondary {
          margin: 2rem; } }

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.8rem;
  font-weight: 300; }

h1 {
  font-size: 8.8rem;
  line-height: 1.2; }
  @media only screen and (max-width: 1000px) {
    h1 {
      font-size: 6.4rem; } }

h2 {
  font-size: 6.4rem; }
  @media only screen and (max-width: 1250px) {
    h2 {
      font-size: 4.8rem; } }

h3 {
  font-size: 2rem; }

p {
  line-height: 2; }
  @media only screen and (max-width: 750px) {
    p {
      line-height: 1.5; } }
